* {
    padding: 0;
    margin: 0;
}

.links {
    text-decoration: none;

}

.links:hover {
    text-decoration: underline;
    color: rgb(44, 8, 87);
}

.hoverglow:hover {
    text-shadow: 0 0 10px #3498db;
}

.status:hover {
    color: rgb(189, 43, 43);
}

.statusview {
   position: fixed;
   background-color: whitesmoke;
   padding: 1vh;
   bottom: 10vh;
   right: 1vh;
   border: 1px solid black;
   display: none;
}