.name {
    padding-left: 10vw;
}

.contact {
    padding: 1vw;
    
}

.banner {
    margin-top: 5%;
    margin-bottom: 5%;

}

.aboutme {
    padding: 1%;
}

.aboutmebody {
    padding: 5%;
    
}

.socialhandleshead {
    padding: 2%;
}

.pickshead {
    padding: 2%;
}
.stylebody1 , .stylehead1 {
    padding: 2%;
}
