.logo {
    height: 80%;
}

.header1 {
     background-color: aqua;
     height: 12vh;
}

.contact {
    color: white;
    background-color: #1aee41;
}
.banner {
    width: 90%;
    
}

.bannercon {
    background: rgb(13, 5, 17);
}

