.logo {
    height: 80%;
}

.header1 {
     background-color: aqua;
     height: 12vh;
}

.contact {
    color: white;
    background-color: #1aee41;
}
.banner {
    width: 90%;
    
}

.bannercon {
    background: rgb(13, 5, 17);
}

.ad {
    width: 100%;
}

.aboutmebody {
    background-color: rgb(164, 208, 208);
    color: rgb(55, 52, 52);
}

.aboutme {
    background-color: rgb(55, 52, 52);
    color: rgb(164, 208, 208);
}
.socialhandleshead {
    background-color: rgb(55, 52, 52);
    color: rgb(164, 208, 208);
}
.socialhandlesbody {
    background-color: rgb(164, 208, 208);
    color: rgb(55, 52, 52);
}
.Youtube_logo {
    width: 10vw;
}

.links {
    color: blue;
}

.pickshead {
    background-color: rgb(55, 52, 52);
    color: rgb(164, 208, 208);
}

.picksbody {
    background-color: rgb(164, 208, 208);
    color: rgb(55, 52, 52);
}

.stylebody1 {
    background-color: rgb(164, 208, 208);
    color: rgb(55, 52, 52);
}

.stylehead1 {
    background-color: rgb(55, 52, 52);
    color: rgb(164, 208, 208);
}

.comment {
    width: 90vw;
    height: 5vh;
    outline: none;
    
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
height: 12vh;
background-color: rgb(74, 60, 60);
color: white;
font-weight: 500;

}
